*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(15rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #727170;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 5.5rem;
    font-weight: 300;
    letter-spacing: 3rem;
    animation: moveInLeft ease-in 1s; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.8rem;
    animation: moveInRight ease-in 1s; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #78DBD6, #75D896);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transform: all .5s; }

#about-me-header {
  border-bottom: 2px solid #FFAC6D; }

#skills-header {
  color: #fff;
  border-bottom: 2px solid #FFAC6D; }

#footer-header {
  border-bottom: 2px solid #FFAC6D;
  color: #E0E4CC;
  border-bottom: none;
  font-size: 2.5rem; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #FFAC6D; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-med {
  margin-bottom: 5rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .1s;
  position: relative;
  font-size: 1.6rem; }

.btn--animated {
  animation: moveInBottom ease-out 1s 1s;
  animation-fill-mode: backwards; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scale(1.5);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #727170; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .2s; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #75D896;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #75D896;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #78DBD6;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
  border-radius: 2px; }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem;
      transform: scale(0.9); }
    .composition__photo:hover {
      transform: scale(1.05) translateY(5px);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.skills {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .skills__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #78DBD6, #75D896);
    -webkit-background-clip: text;
    color: transparent; }
  .skills:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 100rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 60rem; }
  .card__side {
    font-size: 2rem;
    height: 60rem;
    transition: all .3s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-image: linear-gradient(to right bottom, rgba(120, 219, 214, 0.75), rgba(53, 171, 187, 0.75)); }
    .card__side--back {
      background-image: linear-gradient(to right bottom, rgba(117, 216, 150, 0.75), rgba(54, 224, 97, 0.75));
      transform: rotateY(180deg); }
  .card:hover .card__side--front {
    transform: scale(1.05) translateY(5px);
    outline: 0.5rem solid #FFAC6D; }
  .card__picture {
    background-size: cover;
    height: 23rem; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, rgba(117, 216, 150, 0.1), rgba(54, 224, 97, 0.1)), url(../img/detaildevil.png);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, rgba(117, 216, 150, 0.1), rgba(54, 224, 97, 0.1)), url(../img/GiftList.png);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, rgba(117, 216, 150, 0.1), rgba(54, 224, 97, 0.1)), url(../img/eventhub.png);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem; }
  .card__heading-span {
    padding: 1rem;
    transition: all .4s; }
    .card__heading-span a {
      text-decoration: none;
      color: #fff; }
      .card__heading-span a:hover {
        color: #fff; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(117, 216, 150, 0.85), rgba(54, 224, 97, 0.85)); }
      .card__heading-span--1:hover {
        background-image: linear-gradient(to right bottom, rgba(255, 172, 109, 0.85), rgba(255, 172, 109, 0.85));
        border: 3px solid #fff;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        color: #fff; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #727170; }
        .card__details ul li:first-child {
          margin-top: -1.5rem; }
  .card__link {
    text-align: center; }
  .card__link--repo {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    border-bottom: 2px solid #FFAC6D;
    text-align: center;
    transition: all .4s; }
    .card__link--repo:hover {
      background-color: #FFAC6D;
      border-radius: 5px; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(120, 219, 214, 0.75), rgba(117, 216, 150, 0.75)), url(../img/coding.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3 ) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4 ) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3* ((100% - 3 * 6rem) / 4 ) + (2 * 6rem)); }

.footer {
  background-color: #727170;
  padding: 10rem 0;
  font-size: 1.8rem; }
  .footer__navigation {
    border-top: 1px solid #E0E4CC;
    padding-top: 2rem;
    display: inline-block;
    float: left;
    font-size: 1.8rem; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 2rem; }
  .footer__link:link, .footer__link:visited {
    color: #E0E4CC;
    background-color: #727170;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #78DBD6;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .footer__copyright {
    border-top: 1px solid #E0E4CC;
    padding-top: 2rem;
    display: inline-block;
    color: #E0E4CC;
    float: right; }

.section-about {
  background-color: #efef;
  padding: 25rem 0;
  margin-top: -20vh;
  height: 100rem; }

.section-skills {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(120, 219, 214, 0.6), rgba(117, 216, 150, 0.6)), url(../img/skills-2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -25rem;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%); }

.section-projects {
  background-color: #efef;
  padding: 25rem 0 15rem 0;
  margin-top: -15rem; }

@media only screen and (max-width: 600px) {
  body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #727170;
    padding: 0rem;
    width: 100%; }
  .heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 1rem;
    animation: moveInLeft ease-in 1s;
    margin-bottom: 8rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.8rem;
    animation: moveInRight ease-in 1s; }
  .heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, #78DBD6, #75D896);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transform: all .5s; }
  #about-me-header {
    border-bottom: 2px solid #FFAC6D; }
  #skills-header {
    color: #fff;
    border-bottom: 2px solid #FFAC6D; }
  #footer-header {
    border-bottom: 2px solid #FFAC6D;
    color: #E0E4CC;
    border-bottom: none;
    font-size: 3rem;
    position: absolute;
    left: 14%;
    margin-top: -3rem; }
  #about-me-sub {
    margin-left: 6rem; }
  .heading-tertiary {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #FFAC6D;
    text-align: center; }
  .paragraph {
    font-size: 1.5rem;
    margin-left: 3rem;
    display: inline-block;
    width: 100%; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
  .u-center-text {
    text-align: center; }
  .u-margin-bottom-small {
    margin-bottom: 1.5rem; }
  .u-margin-bottom-med {
    margin-bottom: 5rem; }
  .u-margin-bottom-big {
    margin-bottom: 8rem; }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .1s;
    position: relative;
    font-size: 1.6rem; }
  .btn--animated {
    animation: moveInBottom ease-out 1s 1s;
    animation-fill-mode: backwards; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scale(1.5);
    opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #727170; }
  .btn--white::after {
    background-color: #fff; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .2s; }
  .btn-text:link, .btn-text:visited {
    font-size: 1.6rem;
    color: #75D896;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #75D896;
    padding: 3px;
    transition: all .2s; }
  .btn-text:hover {
    background-color: #78DBD6;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    border-radius: 2px; }
  .btn-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0); }
  .composition {
    position: absolute; }
  .composition__photo {
    width: 80%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: relative;
    z-index: 10;
    transition: all .2s; }
  .composition__photo--p1 {
    left: -8%;
    top: 1rem;
    transform: scale(0.5); }
  .composition__photo--p2 {
    right: -29%;
    top: -9rem;
    transform: scale(0.5); }
  .composition__photo--p3 {
    left: -8%;
    top: -20rem;
    transform: scale(0.5); }
  .composition__photo:hover {
    transform: scale(1.05) translateY(5px);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
    z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }
  .skills {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    padding: 2rem;
    margin-bottom: 2rem;
    margin-left: 5%;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: transform .3s; }
  .skills__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #78DBD6, #75D896);
    -webkit-background-clip: text;
    color: transparent; }
  .skills:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .card {
    perspective: 100rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 60rem;
    margin-left: 5rem;
    margin-bottom: 5rem; }
  .card__side {
    font-size: 2rem;
    height: 60rem;
    transition: all .3s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .card__side--front {
    background-image: linear-gradient(to right bottom, rgba(120, 219, 214, 0.75), rgba(53, 171, 187, 0.75)); }
  .card__side--back {
    background-image: linear-gradient(to right bottom, rgba(117, 216, 150, 0.75), rgba(54, 224, 97, 0.75));
    transform: rotateY(180deg); }
  .card:hover .card__side--front {
    transform: scale(1.05) translateY(5px);
    outline: 0.5rem solid #FFAC6D; }
  .card__picture {
    background-size: cover;
    height: 23rem; }
  .card__picture--1 {
    background-image: linear-gradient(to right bottom, rgba(117, 216, 150, 0.1), rgba(54, 224, 97, 0.1)), url(../img/detaildevil.png);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .card__picture--2 {
    background-image: linear-gradient(to right bottom, rgba(117, 216, 150, 0.1), rgba(54, 224, 97, 0.1)), url(../img/GiftList.png);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .card__picture--3 {
    background-image: linear-gradient(to right bottom, rgba(117, 216, 150, 0.1), rgba(54, 224, 97, 0.1)), url(../img/eventhub.png);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem; }
  .card__heading-span {
    padding: 1rem;
    transition: all .4s; }
  .card__heading-span a {
    text-decoration: none;
    color: #fff; }
  .card__heading-span a:hover {
    color: #fff; }
  .card__heading-span--1 {
    background-image: linear-gradient(to right bottom, rgba(117, 216, 150, 0.85), rgba(54, 224, 97, 0.85)); }
  .card__heading-span--1:hover {
    background-image: linear-gradient(to right bottom, rgba(255, 172, 109, 0.85), rgba(255, 172, 109, 0.85));
    border: 3px solid #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5); }
  .card__details {
    padding: 3rem; }
  .card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto; }
  .card__details ul li {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    color: #fff; }
  .card__details ul li:not(:last-child) {
    border-bottom: 1px solid #727170; }
  .card__details ul li:first-child {
    margin-top: -1.5rem; }
  .card__link {
    text-align: center; }
  .card__link--repo {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    border-bottom: 2px solid #FFAC6D;
    text-align: center;
    transition: all .4s; }
  .card__link--repo:hover {
    background-color: #FFAC6D;
    border-radius: 5px; }
  .header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(120, 219, 214, 0.75), rgba(117, 216, 150, 0.75)), url(../img/coding.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .row {
    max-width: 114rem;
    margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
  .row [class^="col-"]:not(:last-child) {
    margin-right: 6rem; }
  .row .col-1-of-2 {
    width: 85%; }
  .row .col-1-of-3 {
    width: 90%; }
  .row .col-2-of-3 {
    width: 100%; }
  .row .col-1-of-4 {
    width: 95%; }
  .row .col-2-of-4 {
    width: 100%; }
  .row .col-3-of-4 {
    width: 100%; }
  .footer {
    background-color: #727170;
    padding: 10rem 0;
    font-size: 1.5rem; }
  .footer__navigation {
    border-top: 1px solid #E0E4CC;
    padding-top: 2rem;
    display: inline-block;
    width: 85%;
    font-size: 2rem;
    margin-left: 5%;
    text-align: center; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
  .footer__item:not(:last-child) {
    margin-right: 2rem; }
  .footer__link:link, .footer__link:visited {
    color: #E0E4CC;
    background-color: #727170;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
    padding-top: 2rem; }
  .footer__link:hover, .footer__link:active {
    color: #78DBD6;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .footer__copyright {
    border-top: 1px solid #E0E4CC;
    padding-top: 5rem;
    display: inline-block;
    color: #E0E4CC;
    width: 95%;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: -5rem; }
  .section-about {
    background-color: #efef;
    padding: 25rem 0;
    margin-top: -20vh;
    height: 150rem; }
  .section-skills {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba(120, 219, 214, 0.6), rgba(117, 216, 150, 0.6)), url(../img/skills-2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -20rem;
    -webkit-clip-path: polygon(0 6%, 100% 0, 100% 95%, 0 100%);
    clip-path: polygon(0 6%, 100% 0, 100% 95%, 0 100%); }
  .section-projects {
    background-color: #efef;
    padding: 25rem 0 15rem 0;
    margin-top: -25rem; } }
