//colors used
$color-primary: #78DBD6;
$color-secondary: #75D896;
$color-tertiary: #FFAC6D;

$color-primary-dark: rgb(53, 171, 187);
$color-secondary-dark: #36e061;

$color-light: #E0E4CC;
$color-dark: #727170;
$color-off-white: #efef;
$color-white: #fff;
$color-black: #000;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//font-sizes
$default-font-size: 1.6rem;
$larger-default: 2.5rem;