.footer{
    background-color: $color-dark;
    padding: 10rem 0;
    font-size: 1.8rem;

    &__navigation {
        border-top: 1px solid $color-light;
        padding-top: 2rem;
        display: inline-block;
        float: left;
        font-size: 1.8rem;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child){
            margin-right: 2rem;
        }
    }
    &__link {
        &:link,
        &:visited {
            color: $color-light;
            background-color: $color-dark;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
        }
    }

    &__copyright {
        border-top: 1px solid $color-light;
        padding-top: 2rem;
        display: inline-block;
        color: $color-light;
        float: right;
    }
}